<!DOCTYPE html>
<html>
  <head>
    <title>Projetinho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>

		<%= nav_bar fixed: :top, brand: "Projetinho Blogspot", brand_link: root_url do %>
			<%= menu_group do %>
        <%= menu_item "Home", root_path %>
				<%= drop_down "Products" do %>
        	<%= menu_item "Latest" %>
        	<%= menu_item "Top Sellers" %>
        	<%= drop_down_divider %>
        	<%= menu_item "Discount Items" %>
	    	<% end %>
				
<%
=begin%>
											, latest_products_path
											, popular_products_path
											, discounted_products_path  
<%
=end
%>
        <%= menu_item "About Us" %>

				<%= menu_divider %>
        
				<%= menu_item "Contact" %>

<% 
=begin%>
											, about_us_path
											, contact_path
<%
=end
%>

			<% end %>	
			
		<% end %>
		
		<div class="container">
    <%= yield %>
		</div>
	</body>
</html>
